@import url(./fonts/Poppins-Light.ttf);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(./images/bball.jpg); */
    background-color: black;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 7%;
    background-color: D9D9D9;
    /* opacity: 0.7; */
    /* background-image: url(./images/bball.jpg); */
}
.img{
    background-image: cover;
    width: 100%;
    height: 100%;
}


.nav_links{
    /* list-style: none; */
}


.nav_links, li{
    display: inline-block;
    padding: 0px 1px;
}

h1{
    margin-right: auto;
}

.nav_links, li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(236, 217, 109);
}


.bta{
    font-size: 15px;
}

/* .bta:hover{
    color: rgb(238, 236, 133);
} */


a, button{
    margin-left: 20px;
    text-decoration: none;
    /* background-color: #0000; */
    font-size: 15px;
    /* color: rgb(255, 255, 255); */
    width: 90px;
    height: 35px;
    /* font-weight: 200; */
}

.cta button{
    border: 1px solid rgb(199, 172, 55);
    border-radius: 10px;

}
/* .cta li:hover{
    background-color: rgb(238, 236, 133);
} */

.cta button:hover{
    background-color: rgb(201, 77, 77);
    color: black;

}

.nav{
    display: flex;
    
}

.main{
    display: flex;
    justify-content: flex;
    align-items: center;
    margin-top: 10px;
    /* padding: 30px 7%; */

    
}

.ver{
    width: 5%;
    height: 548px;
    margin-top: 0px;
    /* margin-bottom: 23px; */
    margin-right: 10px;
    /* padding-right: 20px; */
    background-color: rgb(223, 22, 22);
}

.horz{
    width: 95%;
    background-color: rgb(0, 0, 0);
    height: 560px;
    margin-right: 15px;
    padding-top: 0px;
    padding-right: 10px;
    /* border-radius: 10px; */

}


.news{
    width: 100%;
    height: 200px;
    padding: 30px;
    margin: 5px;
    margin-right: 10px;
    background-color: rgb(112, 70, 70);
    border-radius-top: 10px;
    background-image: cover;
}


.torna{
    width: 100%;
    height: 340px;
    /* padding: 30px; */
    margin: 5px;
    /* margin-right: 10px; */
    background-color: rgb(0, 0, 0);
    background-image: cover;
    display: flex;
    justify-content: space-between;
}


.street{
    width: 33.3%;
    height: auto;
    margin-right: 5px;
    background-color: brown;
}

.dunk{
    width: 34.3%;
    height: auto;
    margin-right: 5px;
    background-color: rgb(202, 47, 47);
}

.tont{
    width: 33.3%;
    height: auto;
    /* margin-right: 5px; */
    background-color: rgb(80, 17, 17);
    
}
.street img{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    background-size: cover;
}

.dunk img{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    background-size: cover;
}

.tont img{
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    background-size: cover;
}


/* background-image: url("../pics/frank.png");
    overflow: hidden;
    height: 750px;
    background-size: cover;
    object-fit: contain; */
    