@import url(./fonts/Poppins-Light.ttf);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(./images/bball.jpg); */
    background-color: black;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 7%;
    /* background-color: rgb(199, 192, 184); */
    opacity: 0.7;
    background-image: url(./images/bball.jpg);
}


.nav_links{
    /* list-style: none; */
}


.nav_links, li{
    display: inline-block;
    padding: 0px 20px;
}

h1{
    margin-right: auto;
}

.nav_links, li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(236, 217, 109);
}


.bta{
    font-size: 15px;
}

/* .bta:hover{
    color: rgb(238, 236, 133);
} */


a, button{
    margin-left: 20px;
    text-decoration: none;
    background-color: transparent;
    font-size: 15px;
    color: rgb(255, 255, 255);
    width: 90px;
    height: 35px;
    /* font-weight: 200; */
}

.cta button{
    border: 1px solid rgb(199, 172, 55);
    border-radius: 10px;

}
/* .cta li:hover{
    background-color: rgb(238, 236, 133);
} */

.cta button:hover{
    background-color: rgb(131, 129, 40);
    color: black;

}

.nav{
    display: flex;
    
}

.main{
    display: flex;
    justify-content: flex;
    align-items: center;
    /* margin-top: 10px; */
    /* padding: 30px 7%; */

    
}

.ver{
    width: 5%;
    height: 560px;
    margin-right: 10px;
    background-color: rgb(102, 25, 173);
}

.horz{
    width: 95%;
    background-color: rgb(30, 32, 32);
    height: 560px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;

}


.news{
    width: 100%;
    height: 300px;
    padding: 30px;
    /* ali */
    margin: 5px;
    margin-right: 10px;
    background-color: rgb(112, 70, 70);
    border-radius: 10px;
    /* background-image: url(./images/two.jpeg); */
    background-image: cover;
    /* background: fixed; */

}